@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'summerPastel';
	default: true; /* set as default */
	prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
	color-scheme: light; /* color of browser-provided UI */

	--color-base-100: #b7e0ff; /* Light Sky Blue */
	--color-base-200: #fff5cd; /* Pastel Yellow */
	--color-base-300: #ffcfb3; /* Peach Pink */
	--color-base-content: black;

	--color-primary: #b7e0ff; /* Light Sky Blue */
	--color-primary-content: #e78f81; /* Soft Coral */

	--color-secondary: #fff5cd; /* Pastel Yellow */
	--color-secondary-content: #e78f81; /* Soft Coral */

	--color-accent: #ffcfb3; /* Peach Pink */
	--color-accent-content: #b7e0ff; /* Light Sky Blue */

	--color-neutral: #e78f81; /* Soft Coral */
	--color-neutral-content: #fff5cd; /* Pastel Yellow */

	--color-info: #b7e0ff; /* Light Sky Blue */
	--color-info-content: #e78f81; /* Soft Coral */

	--color-success: #ffcfb3; /* Peach Pink */
	--color-success-content: #fff5cd; /* Pastel Yellow */

	--color-warning: #fff5cd; /* Pastel Yellow */
	--color-warning-content: #e78f81; /* Soft Coral */

	--color-error: #e78f81; /* Soft Coral */
	--color-error-content: #fff5cd; /* Pastel Yellow */

	/* border radius */
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;

	/* base sizes */
	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	/* border size */
	--border: 1px;

	/* effects */
	--depth: 1;
	--noise: 0;
}
